.search-results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #ffffff;
}

p{
    font-size: 1rem;
    font-weight: 400;
    color: #b3b3b3;
}

.container-search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    z-index: 1;
}

.song-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 1rem;
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}



