#app {
    display: grid;
    grid-template-columns: 350px 1fr; 
    grid-template-rows: 1fr auto; 
    grid-template-areas: 
        "aside main"
        "player player"; 
    height: 100vh; 
    padding: 5px;
    gap: 8px; 
  }
  
  .aside {
    grid-area: aside;
    overflow-y: auto; 
    display: flex;
    flex-direction: column; 
  }
  
  .main {
    grid-area: main;
    position: relative;
    background-color: #1f1f1f; 
    border-radius: 8px;
    overflow-y: auto; 
    transition: all 1s;
    background-color: #16a34a;
  }
  .playlist-gradient {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, #18181b, rgba(24, 24, 27, 0.8));
    z-index: 0; 
    border-radius: 8px;
}

div[ng-reflect-animations] {
  transition: all 0.3s ease-in-out;
}
  
  .footer {
    grid-area: player;
    height: 80px; 
    background-color: #121212; 
  }