html{
    font-family: "CircularStd", system-ui, sans-serif;
    background: #010101;
    list-style: none;
    height: 100%; /* Asegura que el html y body ocupen toda la pantalla */
    overflow: hidden; 
}

/* Estilo para la barra de desplazamiento */
.main::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra vertical */
    height: 8px; /* Alto de la barra horizontal */
}

/* Fondo de la barra de desplazamiento */
.main::-webkit-scrollbar-track {
    background: #121212; /* Color de fondo de la pista */
    border-radius: 4px; /* Bordes redondeados */
}

/* Color de la barra de desplazamiento */
.main::-webkit-scrollbar-thumb {
    background: #989b99a9; /* Color del "pulgar" (la barra que se mueve) */
    border-radius: 4px; /* Bordes redondeados */
}

/* Cambiar color al pasar el cursor */
.main::-webkit-scrollbar-thumb:hover {
    background: #22c55e; /* Color más claro al hacer hover */
}


@font-face {
    font-family: "CircularStd";
    src: url("/fonts/CircularStd-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CircularStd";
    src: url("/fonts/CircularStd-Book.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CircularStd";
    src: url("/fonts/CircularStd-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CircularStd";
    src: url("/fonts/CircularStd-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CircularStd";
    src: url("/fonts/CircularStd-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}