.spotify__home-container_side-bar {
    background-color: #27272a; 
    border-radius: 0.5rem; 
    padding: 0.5rem;  
    display: block; 
    width: 100%; 
    height: 100%;
    overflow: hidden;  
    overflow-y: auto; 
    overflow-x: hidden; 
    box-sizing: border-box; 
}

.btn-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  

.side-bar__list {
    background-color: #27272a; 
    margin: 0;  
    padding: 0;  
    list-style: none;  
    display: block;  
    width: 100%;  
    height: 100%;
}
  

div.spotify__side-bar__card-container{
  display: flex;
  flex-direction: column;
  background-color: #27272a;
}

.empty-message{
  color: #b3b3b3;
  font-size: 1rem;
}