.artist-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: relative;
    transition: all 1s;
    border-radius: 8px;
    transition: opacity 0.4s ease-in-out;
    background-size: cover;
    background-position: center;
    overflow: hidden;  
}

.header {
    display: flex;
    gap: 2rem;
    padding: 1.5rem;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
  

/* Details Section */
.details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.verified-container{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.875rem;
    color: #ffffff;
}
  
.artist-label {
    padding: 0;
    margin: 0;
    color: white;
}

.artist-name {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    padding: 0;
    margin: 0;
}

.play-button{
    display: flex;
    align-items: center;
}

.play-button picture{
    cursor: pointer;
    margin-left: 15px;
}

.btn-follow{
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 10px;
    border-radius: 50px;
}

.btn-follow:hover {
    transform: scale(1.05); 
}

.songs-table{
    width: 100%;
    padding: 0 10px;
}

.title-container{
    padding-left: 30px;
}

.title-container h2{
    color: #ffffff;
    font-size: 1.8rem;
}

  
 /* Contenedor de la tabla */
 .songs-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
  }
  
  /* Estilo para las filas y celdas de la tabla */
  .songs-table th {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  /* Estilo para los encabezados de la tabla */
  .songs-table th {
    font-weight: bold;
    color: #fff;
  }
  
  /* Estilo para las celdas de las canciones */
  .songs-table td {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.875rem;
    padding: 0.75rem;
    text-align: left;
  }

  tbody tr:hover {
    cursor: default;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  /* Imagen de la portada del álbum */
  .album-cover-image {
    width: 3rem; /* Ajusta el tamaño de la imagen */
    height: 3rem;
    object-fit: cover; /* Hace que la imagen se recorte para llenar el contenedor */
    border-radius: 4px; /* Redondea las esquinas de la imagen */
  }

  .title-container{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
 .title-artist-container{
    display: flex;
    flex-direction: column;
 }

 .title-artist-container h3, span{
    margin: 0;
 }
