<div id="artist-container" class="artist-container">
    <header class="header" [style.background-image]="backgroundImage()">
      <div class="details">
        <div class="verified-container">
          <picture>
            <img src="/icons/verified.svg" alt="icon verificado">
          </picture>
          <span>Artista verificado</span>
        </div>
        <h2 class="artist-label">Artista</h2>
        <h1 class="artist-name">{{ artist()?.name }}</h1>
      </div>
    </header>

    <div class="play-button">
      <app-card-playlist-button  [songs]="songs()" [playlistId]="'artist-' + (artist()?.id || '')"></app-card-playlist-button>
      <button class="btn-follow">Seguir</button>
      <picture>
        <img src="/icons/Options.svg" alt="icon opciones">
      </picture>
    </div>

    <div class="title-container">
      <h2>Populares</h2>
    </div>

    @if (songs().length > 0) {
      <section class="songs-table">
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Título</th>
              <th>Álbum</th>
              <th>
                <picture>
                  <img src="/icons/Clock.svg" alt="icono de reloj">
                </picture>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for (song of songs(); track song.id; let i = $index) {
              <tr class="song-row">
                <td class="order-cell">
                  <div class="order-container">
                    <span class="song-number">{{ i + 1 }}</span>
                    <div class="play-card-button">
                      <app-button-play-small 
                        [song]="song" 
                        [playlistId]="'artist-' + (artist()?.id || '')"
                        [playlistSongs]="songs()">
                      </app-button-play-small>
                    </div>
                  </div>
                </td>
                <td class="title-container">
                  <picture>
                    <img 
                      [src]="song.image_path"
                      [alt]="'Cover of ' + song.title"
                      class="album-cover-image"
                    />
                  </picture>
                  <h3>{{ song.title }}</h3>
                </td> 
                <td>{{ song.album }}</td>
                <td class="duration-cell"> {{ formatDuration(song.duration) }}</td>
                <td class="actions-cell">
                 <button 
                    class="options-button" 
                    (click)="openActionsMenu(song, $event)"
                    [class.active]="showActionsMenu && selectedSong?.id === song.id">
                    <img src="/icons/Options.svg" alt="Opciones">
                  </button>
                  <app-song-actions-menu 
                    *ngIf="showActionsMenu && selectedSong?.id === song.id"
                    [song]="song"
                    (closeMenu)="closeActionsMenu()"
                    [style.left.px]="menuPosition.x"
                    [style.top.px]="menuPosition.y">
                  </app-song-actions-menu>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </section>
    } @else if (!isLoading()) {
      <div class="empty-state">
        <p>No se encontraron canciones para este artista</p>
      </div>
    }
</div>