<div class="spotify__home-container_side-bar">
      <div class="btn-container">
        <app-aside-library-item></app-aside-library-item>
        <app-btn-add (playlistCreated)="loadPlaylists()"></app-btn-add>
      </div>
      <div class="spotify__side-bar__card-container">
        @for (playlist of playlists(); track playlist.id) {
          <app-card-aside [playlist]="playlist"></app-card-aside>
        } @empty {
          <p class="empty-message">No hay playlists disponibles</p>
        }
      </div>
</div>