<div
  id="playlist-container"
  class="playlist-container"
  [ngStyle]="{'background': 'linear-gradient(to top, rgba(24, 24, 27, 0.8) 40%, transparent), ' + playlist?.color?.accent}"
>
  <header class="header">
    <picture class="cover">
      <img
        [src]="playlist?.cover"
        [alt]="'Cover of ' + playlist?.title"
        class="cover-image"
      />
    </picture>

    <div class="details">
      <h2 class="playlist-label">Playlist</h2>
      <div>
        <h1 class="playlist-title">{{ playlist?.title }}</h1>
      </div>

      <div class="artist-info">
        <div class="artist-text">
          <div>
            <span>{{ playlist?.artists.join(", ") }}</span>
          </div>
          <p class="song-count">
            <span class="song-count-white">{{ playListSongs.length }} canciones</span>,
            3 h aproximadamente
          </p>
        </div>
      </div>
    </div>
  </header>

  <div class="play-button">
    <app-card-playlist-button></app-card-playlist-button>
    <picture>
      <img src="/icons/Options.svg" alt="icon opciones">
    </picture>
  </div>

  <section class="songs-table">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Título</th>
          <th>Álbum</th>
          <th>
            <picture>
              <img src="/icons/Clock.svg" alt="icono de reloj">
            </picture>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let song of playListSongs; let i = index">
          <td>{{ i + 1 }}</td>
          <td class="title-container">
            <picture>
              <img 
                [src]="playlist?.cover"
                [alt]="'Cover of ' + playlist?.title"
                class="album-cover-image"
              />
            </picture>
           <div class="title-artist-container">
              <h3>{{ song.title }}</h3>
              <span> {{song.artists}}</span>
            </div>
          </td> 
          <td>{{ song.album }}</td>
          <td>{{ song.duration }}</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>