<div class="search-results">
    @if (isLoading()) {
        <div class="loading-indicator">Buscando...</div>
    }
    @else if (hasResults()) {
        <div class="container-search">
            <h2>Canciones</h2>
            @if (songs().length) {
                <div class="song-card-container">
                    <app-song-view *ngFor="let song of songs()" [song]="song"></app-song-view>
                </div>
            } @else {
                <p>No se encontraron canciones.</p>
            }
        </div>

        <div class="container-search">
            <h2>Artistas</h2>
            @if (artists().length) {
                <div class="card-container">
                    <app-card-artist *ngFor="let artist of artists()" [artist]="artist"></app-card-artist>
                </div>
            } @else {
                <p>No se encontraron artistas.</p>
            }
        </div>

        <div class="container-search">
            <h2>Playlists</h2>
            @if (playlists().length) {
                <div class="card-container">
                    <app-card-play-list *ngFor="let playlist of playlists()" [playlist]="playlist"></app-card-play-list>
                </div>
            } @else {
                <p>No se encontraron playlists.</p>
            }
        </div>
    }
    @else if (searchQuery()) {
        <div class="no-results">
            No se encontraron resultados para "{{ searchQuery() }}"
        </div>
    }
</div>