<div class="search-results">
    <div  class="container-search">
        <h2>Canciones</h2>
        <div *ngIf="songs.length; else noSongs" class="song-card-container">
          <app-song-view *ngFor="let song of songs" [song]="song"></app-song-view>
        </div>
        <ng-template #noSongs>
            <p>No se encontraron canciones.</p>
        </ng-template>
    </div>

   <div class="container-search">
        <h2>Artistas</h2>
        <div *ngIf="artists.length; else noArtists" class="card-container">
            <app-card-artist *ngFor="let artist of artists" [artist]="artist"></app-card-artist>
        </div>
        <ng-template #noArtists>
            <p>No se encontraron artistas.</p>
        </ng-template>
    </div>

    <div class="container-search">
        <h2>Playlists</h2>
        <div *ngIf="playlists.length; else noPlaylists" class="card-container">
            <app-card-play-list *ngFor="let playlist of playlists" [playlist]="playlist"></app-card-play-list>
        </div>
        <ng-template #noPlaylists>
            <p>No se encontraron playlists.</p>
        </ng-template>
    </div>
</div>