<article class="artist-card">
  <div class="artist-card-button-play">
    <app-card-playlist-button 
      [songs]="artistSongs()" 
      [playlistId]="'artist-' + artist().id">
    </app-card-playlist-button>
  </div>

  <a [routerLink]="['/artist', artist().id]" class="artist-item" (click)="onCardClick()">
    <picture class="artist-image-container">
      <img 
        [src]="photo()" 
        [alt]="'Photo of ' + name()" 
        class="artist-image"
        onerror="this.style.display='none'"
      />
    </picture>

    <div class="artist-content">
      <h4 class="artist-name">{{ name() }}</h4>
    </div>
  </a>
</article>