.reset-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0 20px;
    width: 100%;
    height: 100vh;
    color: #fff;
    overflow-y: auto;
    box-sizing: border-box;
}

.reset-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
}

.logo{
    display: block;
    width: 250px;
    margin: 0;
    padding: 0;
}

.reset-header{
    padding: 10px 0;
}

h1{
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

p{
    font-size: 1.2rem;
    font-weight: 400;
    margin: 10px 0 20px;

}

.form-reset{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.form-group {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.form-input{
    transition: box-shadow 100ms ease-in-out, color 100ms ease-in-out;
    box-shadow: inset 0 0 0 1px #7c7c7c;
    background-color: #121212;
    color: #ffffff;
    border-radius: 4px;
    border: 0px;
    padding-inline-start: 12px;
    padding-inline-end: 12px;
    padding-block-start: 12px;
    padding-block-end: 12px;
    font-size: 1rem;
    box-sizing: border-box;
    inline-size: 100%;
}

.form-input:focus {
    outline: none;
    box-shadow: inset 0 0 0 1px #ffffff;
    transition: box-shadow 100ms ease-in-out, color 100ms ease-in-out;
}

.submit-btn{
    width: 100%;
    height: 48px;
    background-color: #1ed760;
    color: #000;
    margin-block-start: 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s ease;
    font-weight: 700;
    padding: 15px;
    border-radius: 30px;
}

.submit-btn:hover {
    transform: translateY(-5px);
}

.success-message {
  color: #1DB954;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(29, 185, 84, 0.1);
  border-radius: 4px;
}

.general-error {
  color: #e91429;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(233, 20, 41, 0.1);
  border-radius: 4px;
}

.login-link-container{
    padding-top: 20px;
}

.login-link{
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
}