<div class="reset-container">
  <div class="reset-content">
    <a class="logo-container" [routerLink]="['/']">
      <img class="logo" src="/Spotify-Icon-White.svg" alt="icono de spotify">
    </a>
    <div class="reset-header">
        <h1>Restablece la contraseña</h1>
        <p>Escribe la dirección de correo electrónico o el nombre de usuario vinculados a tu cuenta de Spotify y te enviaremos un mensaje.</p>
    </div>
   <form class="form-reset" *ngIf="!isSuccess" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email" class="form-label">Dirección de correo electrónico</label>
        <input
          type="email"
          id="email"
          class="form-input"
          formControlName="email"
          placeholder="Ingresa tu correo registrado"
        />
      </div>     
     <div class="btn-container">
        <button type="submit" class="submit-btn" [disabled]="isLoading">
          {{ isLoading ? 'Enviando...' : 'Enviar enlace' }}
        </button>
     </div>
    </form>
    <div class="login-link-container">
      <a class="login-link" [routerLink]="['/login']">Volver al inicio de sesión</a>
    </div>
  </div>
</div>
