<div class="player-reproductor-button-bar">
  <!-- Botón "Prev" -->
  <div class="player-reproductor-button-prev">
    <button 
      (click)="onPrevSong()" 
      (mouseover)="isHoveredPrev = true" 
      (mouseleave)="isHoveredPrev = false">
      <img *ngIf="!isHoveredPrev" [src]="'/icons/Prev.svg'" alt="Prev" />
      <img *ngIf="isHoveredPrev" [src]="'/icons/Prev_Hover.svg'" alt="Prev Hover" />
    </button>
  </div>

  <!-- Botón Play/Pause -->
  <div class="player-reproductor-button-play">
    <button 
      (click)="onClick()" 
      (mouseover)="isHoveredPlay = true" 
      (mouseleave)="isHoveredPlay = false">
      <img *ngIf="!isPlaying && !isHoveredPlay" [src]="'/icons/Play.svg'" alt="Play" />
      <img *ngIf="!isPlaying && isHoveredPlay" [src]="'/icons/Play_Hover.svg'" alt="Play Hover" />
      
      <img *ngIf="isPlaying && !isHoveredPlay" [src]="'/icons/Pause.svg'" alt="Pause" />
      <img *ngIf="isPlaying && isHoveredPlay" [src]="'/icons/Pause_Hover.svg'" alt="Pause Hover" />
    </button>
  </div>

  <!-- Botón "Next" -->
  <div class="player-reproductor-button-next">
    <button 
      (click)="onNextSong()" 
      (mouseover)="isHoveredNext = true" 
      (mouseleave)="isHoveredNext = false">
      <img *ngIf="!isHoveredNext" [src]="'/icons/Next.svg'" alt="Next" />
      <img *ngIf="isHoveredNext" [src]="'/icons/Next_Hover.svg'" alt="Next Hover" />
    </button>
  </div>
</div>
