<article class="artist-card">
  <!-- Botón de reproducción -->
  <div class="artist-card-button-play">
    <app-card-playlist-button  [music]="artistSongs"></app-card-playlist-button>
  </div>

  <!-- Enlace para navegar al detalle del artista -->
  <a [routerLink]="['/artist', artist.id]" class="artist-item" (click)="onCardClick()">
    <picture class="artist-image-container">
      <img [src]="photo" [alt]="'Photo of ' + name" class="artist-image" />
    </picture>

    <div class="artist-content">
      <h4 class="artist-name">{{ name }}</h4>
    </div>
  </a>
</article>